:root {
  /* fonts */
  --secondary-font: 'Coolvetica', sans-serif;

  /* background colors */

  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f6f9;
  --sidebar-background-color: #ffffff;
  --accent-background-color: #3e85f3;
  --active-item-sidebar-background: #e3f3ff;
  --hover-active-item-sidebar-background: #e3f3ff;
  --ovarlay-background-color: rgba(0, 0, 0, 0.1);
  --star-background-color: #cec9c1;
  --feedback-label-background-color: rgba(227, 243, 255, 0.5);
  --cancel-button-background-color: #e5edfa;

  --hover-btn-background-color: #2b78ef;

  --auth-bg-color: #dcebf7;

  --border-color: rgba(220, 227, 229, 0.8);
  --border-label-color: #f7f7f7;
  --border: 1px solid rgba(220, 227, 229, 0.8);
  --border-calendar: 1px solid rgba(220, 227, 229, 0.5);
  --border-calendar-period-type: 1px solid rgba(62, 133, 243, 0.2);
  --border-auth: 1px solid rgba(220, 227, 229, 0.6);
  --border-auth-error: 1px solid #e74a3b;
  --border-auth-correct: 1px solid #3cbc81;
  --border-AddTaskBtn: 1px dashed #3e85f3;
  --border-account-input: 1px solid rgba(17, 17, 17, 0.15);
  --border-cloud-color: #abcdef;

  /* text-color */
  --primary-text-color: #111111;
  --secondary-text-color: #616161;
  --accent-text-color: #3e85f3;
  --accent-btn-background: #3e85f3;
  --btn-text-color: #ffffff;
  --not-active-item-sidebar-text-color: #84828a;
  --auth-placeholder-color: #dce3e5;
  --accent-span-text-color: #3e85f3;
  --text-error-color: #e74a3b;
  --text-correct-color: #3cbc81;
  --label-text: #343434;
  --feedback-text: rgba(17, 17, 17, 0.7);
  --cloud-text-color: #6d92be;

  /* calendar */
  --calendar-digit-color: #343434;
  --priority-low-bg-color: #ceeefd;
  --priority-medium-bg-color: #fcf0d4;
  --priority-high-bg-color: #ffd2dd;
  --active-button-period-type: #cae8ff;
  --button-period-type: #e3f3ff;
  --hover-button-period-type: rgba(202, 232, 255, 0.7);

  --color-button-period-type: #3e85f3;
  --close-btn-color: #111111;
  --modal-border-color: rgba(220, 227, 229, 0.8);
  --modal-shadow-color: rgba(17, 17, 17, 0.4);

  /* tasks */
  --task-priority-low-color: #72c2f8;
  --task-priority-medium-color: #f3b249;
  --task-priority-high-color: #ea3d65;
  --task-input-bg-color: #f7f7f7;
  --task-btn-cancel-bg-color: #efefef;
  --task-modal-label-color: rgba(52, 52, 52, 0.8);
  --task-priority-low-checked-color: rgba(114, 194, 248, 0.3);
  --task-priority-medium-checked-color: rgba(243, 178, 73, 0.3);
  --task-priority-high-checked-color: rgba(234, 61, 101, 0.3);

  /* avatar */
  --avatar-fill-color: #d7e3f7;
  --avatar-background-color: #f8f8f8;

  /* scroll */
  --scrollbar-color: #e7e5e5;
  --scrollbar-bg-color: #f2f2f2;

  /* decorations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* shadow */
  --logo-txt-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  --shadow-logout-btn: 4px 2px 16px rgba(136, 165, 191, 0.48);
  --shadow-logout-btn-hover: 4px 2px 16px rgba(136, 165, 191, 1);

  /* icon time input */
  --icon-color-time-input: invert(0);
}

[data-theme='dark'] {
  --test: invert(1);
  --secondary-background-color: #171820;
  --primary-background-color: #21222c;
  --sidebar-background-color: #13151a;

  --ovarlay-background-color: rgba(255, 255, 255, 0.15);
  --star-background-color: #353647;
  --task-input-bg-color: #343434;
  --feedback-label-background-color: #21222c;
  --cancel-button-background-color: #21222c;
  --auth-bg-color: #353647;

  --border: 1px solid rgba(255, 255, 255, 0.15);
  --border-account-input: 1px solid rgba(255, 255, 255, 0.15);
  --border-label-color: rgba(255, 255, 255, 0.15);
  --border-cloud-color: grey;

  /* text-color */
  --primary-text-color: #ffffff;
  --accent-text-color: #ffffff;
  --not-active-item-sidebar-text-color: #ffffff;
  --active-item-sidebar-background: #3e85f3;
  --hover-active-item-sidebar-background: #2b78ef;
  --accent-span-text-color: #3e85f3;
  --btn-text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --label-text: rgba(250, 250, 250, 0.3);
  --feedback-text: rgba(255, 255, 255, 0.7);
  --cloud-text-color: #3e85f3;

  --calendar-digit-color: #ffffff;
  --task-input-bg-color: rgba(255, 255, 255, 0);
  --task-modal-label-color: rgba(250, 250, 250, 0.3);

  /* scroll */
  --scrollbar-color: #171820;
  --scrollbar-bg-color: #2d3037;

  /* avatar */
  --avatar-fill-color: #d7e3f7;
  --avatar-background-color: #171820;
  /* calendar */
  --close-btn-color: #ffffff;
  --modal-border-color: #21222c;
  --modal-shadow-color: rgba(62, 133, 243, 0.4);
  --active-button-period-type: #3e85f3;
  --hover-button-period-type: rgba(33, 34, 44, 0.6);
  --button-period-type: #21222c;
  --color-button-period-type: #3e85f3;

  /* shadow */
  --shadow-logout-btn: 4px 2px 16px rgba(136, 165, 191, 0.3);

  /* icon time input */
  --icon-color-time-input: invert(1);
}
